<div v-if="activity">
    <!-- PAGE NAME START -->
    <section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
        <div class="container">
            <div class="row">
                <h1 class="page-title">
                    {{ activity.name }}
                </h1>
                
                <div class="breadcrumbs">
                    {{ activity.description }}
                </div>
            </div>
        </div>
    </section>
    <!-- PAGE NAME END -->
    <!-- SECTION START -->
    <section class="blog-content ptb150 each-element">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-md-push-1">
                    <h5>报名情况</h5>
                    <div class="reg-section">
                        <div class="class-group">
                            <img src="/assets/images/tank.jpg" style="margin-right: 10px;" />
                            <strong>坦克</strong>
                        </div>
                        <table class="reg-table">
                            <colgroup>
                                <col style="width: 80px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>状态</th>
                                    <th>名称</th>
                                    <th>装等</th>
                                    <th>WCL %</th>
                                    <th>经验</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody v-if="activity">
                                <tr v-for="reg in activity.registrations.filter(x => x.role == 'Tank')">
                                    <td>
                                        <span class="label-orange">待审核</span>
                                    </td>
                                    <td v-bind:class="'class-' + reg.class">
                                        <img v-bind:src="'/assets/images/class-' + reg.class + '.png'" class="class-img" />
                                        {{ reg.name }}
                                    </td>
                                    <td class="purple">{{ reg.charactor.highestItemLevel }}</td>
                                    <td class="blue">52.2</td>
                                    <td class="purple">4 / 4</td>
                                    <td>{{ reg.hint }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="reg-section">
                        <div class="class-group">
                            <img src="/assets/images/healer.jpg" style="margin-right: 10px;" />
                            <strong>治疗</strong>
                        </div>
                        <table class="reg-table">
                            <colgroup>
                                <col style="width: 80px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>状态</th>
                                    <th>名称</th>
                                    <th>装等</th>
                                    <th>WCL %</th>
                                    <th>经验</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="label-orange">待审核</span></td>
                                    <td class="class-256">
                                        <img src="/assets/images/class-256.png" class="class-img" />
                                        牧琊
                                    </td>
                                    <td class="blue">126</td>
                                    <td class="purple">78.4</td>
                                    <td class="purple">4 / 4</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <h5>我的角色</h5>
                        <table class="reg-table">
                            <thead>
                                <tr>
                                    <th>角色</th>
                                    <th>服务器</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(ch, i) in myCharactors">
                                    <td v-bind:class="'class-' + ch.class">
                                        <img v-bind:src="'/assets/images/class-' + ch.class + '.png'" class="class-img" />
                                        {{ ch.name }}
                                        <small><a v-on:click="deleteCharactor(ch, i)"><i class="fa fa-trash"></i></a></small>
                                    </td>
                                    <td>{{ ch.realm }}</td>
                                    <td>
                                        <input type="text" class="form-input" style="width: 100px" placeholder="报名备注" v-model="ch.hint" />
                                        <select class="form-input" v-model="ch.role">
                                            <option value="1">输出</option>
                                            <option value="0">坦克</option>
                                            <option value="2">治疗</option>
                                        </select>
                                        <input class="form-input" type="button" value="报名" v-on:click="register(ch)" />
                                    </td>
                                </tr>
                                <tr class="table-footer">
                                    <td>
                                        <select class="form-input" v-model="form.newCharactor.class">
                                            <option value="1">战士</option>
                                            <option value="2">圣骑士</option>
                                            <option value="8">萨满祭司</option>
                                            <option value="4">猎人</option>
                                            <option value="32">德鲁伊</option>
                                            <option value="16">潜行者</option>
                                            <option value="128">法师</option>
                                            <option value="64">术士</option>
                                            <option value="256">牧师</option>
                                        </select>
                                        <input class="form-input" style="width: 120px" type="text" placeholder="角色名" v-model="form.newCharactor.name" />
                                    </td>
                                    <td>
                                        <input class="form-input" type="text" placeholder="服务器" v-model="form.newCharactor.realm" />
                                    </td>
                                    <td>
                                        <input class="form-input" type="button" value="添加角色" v-on:click="addCharactor" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION END -->    
</div>